*{
	box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

/*INDEX PAGE STYLING*/

#headingTag{
	background-color: #92d626;
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: -50px;
	transition: top 0.3s;
    border: 0;
}

#headingTag a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#headingTag a:hover {
    background: #ddd;
    color: black;
}

.parallax, .parallax2, .parallax3{
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax{
	background-image: url("../img/FILE2071.JPG");
	min-height: 100%;
}

.cap {
	position: absolute;
	top: 50%;
	width: 100%;
	left: 0;
	text-align: center;
}

.cap h1{
	font-size: 2.5em;
	letter-spacing: 10px;
}

.parallax2{
	background-image: url("../img/FILE2065.JPG");
	min-height: 100%;
}

#inputDiv{
	
}

#inputDiv #bigSize{
	font-size: 2.5em;
    color: black;
}

#inputDiv form{
	display: block;
}

.searchBox{
	position: relative;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.searchBox input#search{
    width: 100%;
    padding: .75em 1em;
    font-size: 1.15em;
    border-radius: 5px;
    border: 2px solid #e5e5e5;
    transition: .2s ease-in-out
}

.searchBox button#letsgo{
    position: absolute;
    right: 0;
    top: 0;
    line-height: normal;
    background-color: #92d626;
    color: #4f5b66;
    border: 2px solid #e5e5e5;
    font-size: 1.15em;
    padding: .75em 1em;
    border-radius: 0 5px 5px 0;
    transition: .2s ease-in-out
}

.parallax3{
    background-image: url("../img/FILE2066.JPG");
    height: 30%;
    display: block;
}

.cap2 {
    position: absolute;
    padding-top: 10px;
    margin: auto;
    width: 100%;
    left: 0;
    text-align: center;
}

#descp{
    width: 50%;
    margin: auto;
    display: inline-block;
    font-size: 1.5em;
}

#student{
    width: 49%;
    display: inline-block;
}

#student span{
    display: block;
    font-size: 1.5em;
}

/*OUTPUT PAGE STYLING*/

.chartsParent{
    background-color: blue;
    /*width: 80%;*/
    margin-left: auto;
    margin-right: auto;
}

.chartType div{
    margin-right: auto;
    margin-left: auto;
    /*border: 1px solid #ccc;*/
}

#line_chart_div{
    
}

/*@media (min-width: )*/

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
    .searchBox{
    	width: 80%;
    }
}